services:
  mongodb:
    image: mongo:7.0.14
    container_name: homelab-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${USER}
      MONGO_INITDB_ROOT_PASSWORD: ${PASSWORD}
    ports:
      - "${PORT}:27017"
    volumes:
      - ${DATA_DIR}/data:/data/db
    networks:
      - homelab-net

networks:
  homelab-net:
    external: true
